<div class="modal fade" id="assign-members-modal" tabindex="-1" aria-labelledby="assign-members-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
    <div class="modal-content">
    <form id="assign-member-form" action="" method="POST">
        {{ assign_members_form.hidden_tag() }}
        <div class="modal-header bg-warning">
            <h4 id="members-modal-label" class="modal-title">Edit Role</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light">
            {{ assign_members_form.member_id() }}
            <div class="table-responsive">
                <table class="table table-bordered caption-top table-fixed shadow-sm">
                    <caption>Member Details</caption>
                    <tbody>
                      <tr>
                        <th class="table-secondary col-2" scope="row">Name</th>
                        <td id="assign-member-name" class="bg-white"></td>
                      </tr>
                      <tr>
                        <th class="table-secondary" scope="row">Email</th>
                        <td id="assign-member-email" class="bg-white"></td>
                      </tr>
                      <tr>
                        <th class="table-secondary" scope="row">Initials</th>
                        <td id="assign-member-initials" class="bg-white"></td>
                      </tr>
                      <tr>
                        <th class="table-secondary" scope="row">Type</th>
                        <td id="assign-member-type" class="bg-white"></td>
                      </tr>
                      <tr>
                        <th class="table-secondary" scope="row">Role</th>
                        <td class="bg-white">{{ assign_members_form.new_role(class="form-select") }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer bg-dark">
            {{ assign_members_form.submit_role(class="btn btn-primary") }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
    </div>
    </div>
</div>